*{
   box-sizing: border-box;
}

body{
   font-size: 22px;
   font-family: "Roboto", sans-serif;
}

@media (max-width: 700px) {
   body{
      color: azure;
      background-color: black;
   }
}

@import "./title.css";